@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");


:root {
  --main-bg: #f5f7ff;
  --bg-btn: #1a1178;
  --bg-btn-hover: #5d20d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  transition: 1s all;
}

body {
  background: url("./images/pattern-background-desktop.svg");
  background-color: var(--main-bg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top top;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a {
  font-weight: 700;
}

main {
    margin: auto;
  max-width: min-content;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
}

.image img {
  max-width: min-content;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.content h1,
.content p {
  margin: 2rem auto;
  padding: 0 5rem;
}

.content h1 {
  font-weight: 900;
}

.content p {
  font-weight: 400;
  color: grey;
}

.plan {
  width: 70%;
  margin: auto;
  padding: 1rem;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.plan-name {
  display: flex;
  gap: 1rem;
}

.annual-plan p:first-child {
  font-weight: 900;
}

.annual-plan p:last-child {
  color: grey;
}

.change-link a {
  text-decoration: underline;
}
.change-link a:hover {
  text-decoration: none;
}

.button {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.process_btn {
  background-color: var(--bg-btn);
  padding: 1rem 0;
  border-radius: 0.5rem;
}
.process_btn a {
  color: white;
}
.process_btn:hover {
  background-color: var(--bg-btn-hover);
}

.cancel_btn {
  background-color: white;
}
.cancel_btn a {
  color: rgba(0, 0, 0, 0.5);
}
.cancel_btn:hover a {
  color: black;
}

@media screen and (max-width: 1050px) {

}
@media screen and (max-width: 460px) {
    body{
        background-size: cover;
    }
}
